*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body *{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

body{
    background-image: url(./images/Fundo.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}


main{
    max-width: 580px;
    width: 90%;
    margin: auto;
    margin-top: 32px;
    display: grid;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #48E0B2 50%, #E2D45C 100%);
    padding-top: 3px;
    border-radius: 12px;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #a1a1aa;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

.games-list img {
    border-radius: 8px;
    width: 90px;
}

.streamers-list img {
    border-radius: 50%;
    width: 70px;
}

















.head {
    text-align: center;
    border-radius: 50%;
}